body {
    background: #fdfdfd;
    font-family: Arial;
}

* {
    user-select: none;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    display: none;
}

#first-screen {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 64px;
    text-align: center;
}